<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SmartGig_Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4cef0">  <td>22/02/02 19:42:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@28ac3dc3]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1672576731</td>   <td></td> </tr>
<tr bgcolor="b56393">  <td>22/02/02 19:42:56</td>   <td>8309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase_Demo_1.methodsetup()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@28ac3dc3]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1672576731</td>   <td></td> </tr>
<tr bgcolor="b56393">  <td>22/02/02 19:42:57</td>   <td>8525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_Demo_1.MavenDemo(java.util.HashMap)[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@28ac3dc3]">MavenDemo</td> 
  <td>TestNG-tests-1@1672576731</td>   <td></td> </tr>
<tr bgcolor="b56393">  <td>22/02/02 19:43:26</td>   <td>38058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase_Demo_1.EndMethod()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@28ac3dc3]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1672576731</td>   <td></td> </tr>
<tr bgcolor="b56393">  <td>22/02/02 19:43:27</td>   <td>38486</td> <td title="&lt;&lt;TestCase_Demo_1.endSuite()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@28ac3dc3]">&lt;&lt;endSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@388043093</td>   <td></td> </tr>
</table>
