<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686563">  <td>22/02/02 19:49:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GridDemo.sampleTest()[pri:0, instance:com.client.base.uitest.admin.GridDemo@64f6106c]">sampleTest</td> 
  <td>main@1920467934</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>22/02/02 19:49:30</td>   <td>-1484</td> <td>&nbsp;</td><td title="&gt;&gt;GridDemo.setUp()[pri:0, instance:com.client.base.uitest.admin.GridDemo@64f6106c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1920467934</td>   <td></td> </tr>
</table>
