<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>21/06/20 19:09:47</td>   <td>0</td> <td title="&gt;&gt;TestCase_Demo_1.startTest()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@91161c7]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>21/06/20 19:09:48</td>   <td>749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@91161c7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>21/06/20 19:09:52</td>   <td>5275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase_Demo_1.methodsetup()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@91161c7]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>21/06/20 19:09:52</td>   <td>5307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_Demo_1.MavenDemo(java.util.HashMap)[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@91161c7]">MavenDemo</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>21/06/20 19:10:06</td>   <td>19164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@91161c7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>21/06/20 19:10:10</td>   <td>22740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase_Demo_1.methodsetup()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@91161c7]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>21/06/20 19:10:10</td>   <td>22741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_Demo_1.MavenDemo(java.util.HashMap)[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@91161c7]">MavenDemo</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>21/06/20 19:10:25</td>   <td>37965</td> <td title="&lt;&lt;TestCase_Demo_1.endTest()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@91161c7]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
</table>
